Repository quadratic-funding/mpc-phase2-suite, pull requests merged in 2023-02, with the labels that each got.

#306 test(unit-lib-core): implemented unit tests for core utilities
  .eslintrc.json
  packages/actions/test/data/samples.ts
  packages/actions/test/unit/lib.utils.test.ts
Labels: Test 🧪, Low Priority 🍏

#300 feat(security rules): implemented Firestore security rules
  packages/actions/test/data/samples.ts
  packages/actions/test/unit/security.test.ts
  packages/actions/test/utils/authentication.ts
  packages/actions/test/utils/index.ts
  packages/backend/firestore.rules
Labels: Feature 🪄, Medium Priority ⏰

#295 test(firebase unit): implemented unit tests for the bespoke functions related to Firebase Auth
  packages/actions/src/helpers/services.ts
  packages/actions/test/unit/authentication.test.ts
  packages/actions/test/unit/firebase.test.ts
  packages/actions/test/unit/services.test.ts
Labels: Test 🧪, High Priority 🔥

#308 test(database unit tests): implemented unit tests for the database.ts helper
  packages/actions/test/data/samples.ts
  packages/actions/test/unit/database.test.ts
Labels: Test 🧪, Medium Priority ⏰

#291 feat(auth): added a function to detect GitHub reputation based on simple heuristics
  packages/actions/src/helpers/security.ts
  packages/actions/test/utils/authentication.ts
Labels: Feature 🪄, Medium Priority ⏰

#320 Complete optimization of `setup` command
  packages/actions/src/core/lib/utils.ts
  packages/actions/src/core/setup/index.ts
  packages/actions/src/helpers/constants.ts
  packages/actions/src/helpers/functions.ts
  packages/actions/src/helpers/storage.ts
  packages/actions/src/helpers/utils.ts
  packages/actions/src/index.ts
  packages/actions/src/types/index.ts
  packages/actions/test/data/generators.ts
  packages/backend/.default.env
  packages/backend/firestore.indexes.json
  packages/backend/src/functions/auth.ts
  packages/backend/src/functions/ceremony.ts
  packages/backend/src/functions/contribute.ts
  packages/backend/src/functions/finalize.ts
  packages/backend/src/functions/setup.ts
  packages/backend/src/functions/storage.ts
  packages/backend/src/functions/waitingQueue.ts
  packages/backend/src/lib/errors.ts
  packages/backend/src/lib/logs.ts
  packages/backend/src/lib/services.ts
  packages/backend/src/lib/utils.ts
  packages/backend/types/enums.ts
  packages/backend/types/index.ts
  packages/phase2cli/src/commands/contribute.ts
  packages/phase2cli/src/commands/setup.ts
  packages/phase2cli/src/lib/errors.ts
  packages/phase2cli/src/lib/files.ts
  packages/phase2cli/src/lib/prompts.ts
  packages/phase2cli/src/lib/services.ts
  packages/phase2cli/src/lib/utils.ts
Labels: Refactoring ♻

#297 Tests/setup E2E and Unit tests for Setup
  jest.json
  packages/actions/.env.default
  packages/actions/src/helpers/functions.ts
  packages/actions/src/helpers/storage.ts
  packages/actions/src/helpers/utils.ts
  packages/actions/src/index.ts
  packages/actions/test/data/samples.ts
  packages/actions/test/e2e/01-setup.test.ts
  packages/actions/test/unit/authentication.test.ts
  packages/actions/test/unit/helpers.utils.test.ts
  packages/actions/test/unit/services.test.ts
  packages/actions/test/unit/setup.test.ts
  packages/actions/test/unit/storage.test.ts
  packages/actions/test/utils/authentication.ts
  packages/actions/test/utils/index.ts
  packages/actions/test/utils/storage.ts
  packages/backend/src/functions/setup.ts
Labels: Test 🧪, High Priority 🔥

#328 `contribute` command refactoring
  packages/actions/.env.default
  packages/actions/package.json
  packages/actions/src/core/contribute/index.ts
  packages/actions/src/helpers/constants.ts
  packages/actions/src/helpers/database.ts
  packages/actions/src/helpers/functions.ts
  packages/actions/src/helpers/security.ts
  packages/actions/src/helpers/storage.ts
  packages/actions/src/helpers/utils.ts
  packages/actions/src/helpers/verification.ts
  packages/actions/src/index.ts
  packages/actions/src/types/index.ts
  packages/actions/test/e2e/01-setup.test.ts
  packages/actions/test/unit/database.test.ts
  packages/actions/test/unit/storage.test.ts
  packages/backend/firestore.indexes.json
  packages/backend/src/functions/ceremony.ts
  packages/backend/src/functions/circuit.ts
  packages/backend/src/functions/contribute.ts
  packages/backend/src/functions/finalize.ts
  packages/backend/src/functions/index.ts
  packages/backend/src/functions/participant.ts
  packages/backend/src/functions/setup.ts
  packages/backend/src/functions/storage.ts
  packages/backend/src/functions/timeout.ts
  packages/backend/src/functions/user.ts
  packages/backend/src/functions/waitingQueue.ts
  packages/backend/src/lib/errors.ts
  packages/backend/src/lib/services.ts
  packages/backend/src/lib/utils.ts
  packages/backend/types/index.ts
  packages/phase2cli/src/commands/contribute.ts
  packages/phase2cli/src/commands/finalize.ts
  packages/phase2cli/src/commands/observe.ts
  packages/phase2cli/src/commands/setup.ts
  packages/phase2cli/src/lib/errors.ts
  packages/phase2cli/src/lib/files.ts
  packages/phase2cli/src/lib/prompts.ts
  packages/phase2cli/src/lib/utils.ts
Labels: Refactoring ♻

#330 test(auth security): added test cases for the authentication security review
  audits/P0T1ON_report_draft_1.pdf
  jest.json
  packages/actions/test/unit/security.test.ts
Labels: Test 🧪
